@model Service.Models.ListCompaniesModel
@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<div class="container" id="container">

    @foreach (var obj in Model.Items)
    {

        <div class="row" id="row">
            <div class="col-lg-6 col-lg-pull-1 col-md-5  col-sm-9 ">
                <img src="~/Images/LogoPlaceholder.jpg" class="img-circle" id="img-logo" alt="logo">
            </div>

            @* Display all companies with their stores *@
            <div class="col-lg-6 col-lg-pull-0 col-md-5 col-sm-9 ">
    <a href="@Url.Action("ShowCompany","Company", new { obj.Id})"><h2 title="Click to go to the company's page">@obj.Name</h2></a>
    <h4><b>Organization number:</b> @obj.OrganizationNumber</h4>
    <h4><b>Notes:</b> @obj.Notes</h4>
    <h4><b>Stores:</b></h4>
    @foreach (var store in obj.Stores)
                {
        <a href="@Url.Action("ShowStore","Store", new { store.Id})"><h5 title="Click to go to the store's page">@store.Name</h5></a>
    }<br />

    </div>

        </div>
    }
</div>

<div class="row" id="row-button">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddModal">Add a company</button>
</div>


@* Handle the pagination *@
<div class="pagination">
    @if (Model.Pager.EndPage > 1)
    {
        <ul>
            @if (Model.Pager.CurrentPage > 1)
                {
                <li>
                    <a href="~/Company/ListCompanies?page=@(Model.Pager.CurrentPage - 1)"><img src="~/images/back.png" id="nextIconImages" title="Back" /></a>
                </li>
            }
            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                <li class="@(page == Model.Pager.CurrentPage ? "pageBoxSelected" : "pageBoxes")">
                    <a href="~/Company/ListCompanies?page=@page">@page</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalOfPages)
                {
                <li>
                    <a href="~/Company/ListCompanies?page=@(Model.Pager.CurrentPage + 1)"><img src="~/images/next.png" id="nextIconImages" title="Next" /></a>

                </li>
            }
        </ul>
    }
</div>

    

@using (Html.BeginForm("AddCompany", "Company", FormMethod.Post, new { @class = "cmxform", id = "commentForm" }))
{
        <div id="AddModal" class="modal fade">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add a company</h4>
                    </div>

                    <div class="modal-body">
                        <p>The company name:</p>
                        <input name="Name" type="text" minlength="1" maxlength="100" required /><br /><br />
                        <p>Organizationnumber:</p>
                        <input name="OrganizationNr" type="number"  minlength="1" maxlength="@int.MaxValue" required /><br /><br />
                        <p>Notes:</p>
                        <textarea name="Notes" id="Notes"></textarea> 


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="Close-button" >Close</button>
                            <button type="submit" class="btn btn-default" id="submit-button" >Add</button>
                        </div>
                    </div>


                </div>

            </div>
        </div>
}