@model Service.Models.ListCompaniesModel
@*@using Service.Models;*@
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_testLayout.cshtml";
}

<div class="container" style="margin-top:20%;">

    @foreach (var obj in Model.Items)
    {

        <div class="row" style="margin-top:10%; margin-bottom: 10%;">
            <div class="col-lg-6 col-lg-pull-1 col-md-5  col-sm-9 ">
                <img src="~/Images/LogoPlaceholder.jpg" class="img-circle" style="margin-top: 15%;" width="150" height="150" alt="...">
            </div>



            <div class="col-lg-6 col-lg-pull-0 col-md-5 col-sm-9 ">
                <a href="@Url.Action("ShowCompany","Company", new { obj.Id})"><h2>@obj.Name</h2></a>
                <h4><b>Organization number:</b> @obj.OrganizationNumber</h4>
                <h4><b>Notes:</b> @obj.Notes</h4>
                <h4><b>Stores:</b></h4>
                @foreach (var store in obj.Stores)
                {
                    <h5>@store.Name</h5>
                }<br />

            </div>

        </div>
    }

</div>

<div class="row" style="margin-bottom:5%;">
    <button type="button"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddModal">Add</button>
</div>

<div class="pagination" style="margin-bottom:5%;">
    @if (Model.Pager.EndPage > 1)
    {
        <ul>
            @if (Model.Pager.CurrentPage > 1)
                {
                <li>
                    <a href="~/Company/ListCompanies?page=@(Model.Pager.CurrentPage - 1)"><img src="~/images/back.png" id="nextIconImages" title="Back" /></a>
                </li>
            }
            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                <li class="@(page == Model.Pager.CurrentPage ? "pageBoxSelected" : "pageBoxes")">
                    <a href="~/Company/ListComanies?page=@page">@page</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalOfPages)
                {
                <li>
                    <a href="~/Company/ListCompanies?page=@(Model.Pager.CurrentPage + 1)"><img src="~/images/next.png" id="nextIconImages" title="Next" /></a>

                </li>
            }
        </ul>
    }
</div>




    



@using (Html.BeginForm("AddCompany", "Company", FormMethod.Post, new { @class = "cmxform", id = "commentForm" }))
{
    <fieldset>
        <div id="AddModal" class="modal fade" style="color:black; text-shadow:none;">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add a company</h4>
                    </div>


                    <div class="modal-body">
                        <p>The company name:</p>
                        <input name="Name" id="cname" type="text" minlength="1" maxlength="100" required aria-required="true" class="error" aria-invalid="false" /><br /><br />
                        <p>Organizationnumber:</p>
                        <input name="OrganizationNr" type="number"  minlength="1"  required aria-required="true" @*class="error"*@ aria-invalid="false" /><br /><br />
                        <p>Notes:</p>
                        <input name="Notes" type="text"/>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="border:solid 1px;">Close</button>
                            <button type="submit" class="btn btn-default" style="border:solid 1px; color: #5bc0de">Send</button>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </fieldset>
}


<link rel="stylesheet" type="text/css" href="~/Content/StoreStyle.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>

<script>
                        $("#commentForm").validate();

                        jQuery.validator.addMethod("specialChar", function(value, element) {
                            return this.optional(element) || /([0-9a-zA-Z åäöÅÄÖ])/.test(value);
                        }, "No special characters are allowed");

                        jQuery.validator.addMethod("onlyAlfa", function(value, element) {
                            return this.optional(element) || /([a-zA-Z\s])$/.test(value);
                        }, "No digits or special characters are allowed");

</script>

@*<div class="container marketing">


    @{bool switcher = true;}
    @foreach (var obj in Model)
    {
        switcher = !switcher;
        if (switcher)
        {

            // <a href="@Url.Action("ShowCompany", "Company", new { obj.Id })"></a>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 col-md-push-5" >
                        <h2 class="featurette-heading">@obj.Name</h2>
                        <h3>Organization number: <span class="lead"> @obj.OrganizationNumber</span></h3>
                        <h3>Notes: @obj.Notes</h3>
                        <h3>Stores:</h3>
                        @foreach (var store in obj.Stores)
                        {
                            <h4>@store.Name</h4>
                        }<br />
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" src="~/Images/LogoPlaceholder.jpg" alt="Generic placeholder image">
                </div>
            </div>
        }
        else
        {
            //<a href="@Url.Action("ShowCompany", "Company", new { obj.Id })">    </a>
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">@obj.Name</h2>

                    <h2 class="text-muted">@obj.OrganizationNumber</h2>
                    <p class="lead">@obj.Notes</p>
                    @*foreach (var store in obj.Stores)
                        {
                        <p>@store.Name</p>
                        }<br />
                </div>

                <div class="col-md-5 ">
                    <img class="featurette-image img-responsive center-block" src="~/Images/LogoPlaceholder.jpg" alt="Generic placeholder image">
                </div>
            </div>
        }
    }


</div>*@



    <!-- /END THE FEATURETTES -->



    @*<div>
        @foreach (var obj in Model)
            {
            <a href="@Url.Action("ShowCompany","Company", new {obj.Id})"><h2>@obj.Name</h2></a>
                <h3>@obj.OrganizationNumber</h3>
                <p> @obj.Notes</p>
            foreach (var store in obj.Stores)
            {
                <p>@store.Name</p>
            }<br />
        }
    </div>*@



@*ADD

    <div>
        <h1>Create new company</h1>
        @using (Html.BeginForm("AddCompany", "Company", FormMethod.Post))
            {
            <p>The company name:</p>
                <input name="Name" type="text" /><br />
                <p>The company's organizationnumber:</p>
                <input name="OrganizationNr" type="number" /><br />
                <p>Information about the company:</p>
                <input name="Notes" type="text" /><br /><br />
                <input type="submit" />
        }

    </div>*@

