@model List<Service.Models.store>
@using Service.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListStores</title>
</head>
<body>
    <div> 
        @foreach (var obj in Model)
        {
            <a href="@Url.Action("ShowStore","Store", new { obj.Id})"><h2>@obj.Name</h2></a>
            <a href="@Url.Action("ShowCompany","Company", new { obj.Company.Id})"><h3>@obj.Company.Name</h3></a>
            <p>@obj.Address</p>
            <p>@obj.Zip</p>
            <p>@obj.City</p>
            <p>@obj.Country</p>
            <p>@obj.Latitude</p>
            <p>@obj.Longitude</p><br/>
        }
    </div>
    <div>
        @using(Html.BeginForm("AddStore", "Store", FormMethod.Post))
        {
            <p>The store name:</p>
            <input name="Name" type="text" /><br />
            <p>Owner:</p>
            <select name="Company">
                <option value="-1">-------- Choose a company --------</option>
                @foreach (var company in CompanyManager.getCompanies())
                {
                    <option value="@company.Id">@company.Name</option>
                    }
            </select>
            <p>Address:</p>
            <input name="Address" type="text" /><br />
            <p>City:</p>
            <input name="City" type="text" /><br />
            <p>Zip:</p>
            <input name="Zip" type="number" /><br />
            <p>Country:</p>
            <input name="Country" type="text" /><br />
            <p>Longitude:</p>
            <input name="Longitude" type="number" /><br />
            <p>Latitude:</p>
            <input name="Latitude" type="number" /><br /><br/>
            <input type="submit" />
        }
    </div>
</body>
</html>
