@model Service.Models.store
@using Service.Models
@{
    Layout = "~/Views/Shared/_testLayout.cshtml";
}

<div class="container" id="container-show">

    <div>
        <img src="~/Images/LogoPlaceholder.jpg" class="img-circle" id="img-logo-show" alt="logo"><br /><br />


        <h2>@Model.Name</h2>
        <a href="@Url.Action("ShowCompany", "Company", new { Model.Company.Id })"><h4>Owner: @Model.Company.Name</h4></a>
        <h4>Address: @Model.Address</h4>
        <h4>Zip code: @Model.Zip</h4>
        <h4>City: @Model.City</h4>
        <h4>Country: @Model.Country</h4>
    </div>


    <div class="row">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddModal">Add</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#EditModal">Edit</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#DeleteModal">Delete</button><br /><br /><br />
    </div>


    @using (Html.BeginForm("AddStore", "Store", FormMethod.Post, new { @class = "cmxform", id = "commentForm" }))
    {
        @*<fieldset>*@
            <div id="AddModal" class="modal fade">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add a store</h4>
                        </div>


                        <div class="modal-body">
                            <p>The store name:</p>
                            <input name="Name" id="cname" type="text" minlength="1" maxlength="100" required aria-required="true" class="error" aria-invalid="false" /><br /><br />
                            <p>Owner:</p>
                            <select name="Company">
                                @foreach (var company in CompanyManager.getCompanies())
                                {
                                    <option value="@company.Id">@company.Name</option>
                                }
                            </select><br /><br />
                            <p>Address:</p>
                            <input name="Address" type="text" class="required specialChar" minlength="1" maxlength="512" required aria-required="true" @*class="error"*@ aria-invalid="false" /><br /><br />
                            <p>City:</p>
                            <input name="City" type="text" class="required onlyAlfa" minlength="1" maxlength="512" required aria-required="true" @*class="error"*@ aria-invalid="false" /><br /><br />
                            <p>Zip:</p>
                            <input name="Zip" type="number" minlength="1" maxlength="16" required aria-required="true" class="error" aria-invalid="false" /><br /><br />
                            <p>Country:</p>
                            <input name="Country" type="text" class="onlyAlfa" minlength="1" maxlength="50" required aria-required="true" @*class="error"*@ aria-invalid="false" />


                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" id="Close-button" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-default" id="submit-button">Add</button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        @*</fieldset>*@
    }
    <!-- Modal -->
    @using (Html.BeginForm("UpdateStore", "Store", new { Model.Id }, FormMethod.Post, new { @class = "cmxform", id = "commentForm" }))
    {
        @*<fieldset>*@
            <div id="EditModal" class="modal fade">
                <div class="modal-dialog">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit @Model.Name</h4>
                        </div>


                        <div class="modal-body">
                            <p>The store name:</p>
                            <input name="Name" id="cname" type="text" value="@Model.Name" minlength="1" maxlength="100" required aria-required="true" class="error" aria-invalid="false" /><br /><br />
                            <p>Owner:</p>
                            <select name="Company">
                                @foreach (var company in CompanyManager.getCompanies())
                                {
                                    if (Model.CompanyId == company.Id)
                                    {
                                        <option selected value="@company.Id">@company.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@company.Id">@company.Name</option>
                                    }
                                }
                            </select><br /><br />
                            <p>Address:</p>
                            <input name="Address" type="text" value="@Model.Address" class="required specialChar" minlength="1" maxlength="512" required aria-required="true" @*class="error"*@ aria-invalid="false" /><br /><br />
                            <p>City:</p>
                            <input name="City" type="text" value="@Model.City" class="required onlyAlfa" minlength="1" maxlength="512" required aria-required="true" @*class="error"*@ aria-invalid="false" /><br /><br />
                            <p>Zip:</p>
                            <input name="Zip" type="number" value="@Model.Zip" minlength="1" maxlength="16" required aria-required="true" class="error" aria-invalid="false" /><br /><br />
                            <p>Country:</p>
                            <input name="Country" type="text" value="@Model.Country" class="onlyAlfa" minlength="1" maxlength="50" required aria-required="true" @*class="error"*@ aria-invalid="false" />

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" id="Close-button" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-default" id="submit-button">Edit</button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        @*</fieldset>*@
    }

@using (Html.BeginForm("DeleteStore", "Store", new { Model.Id }, FormMethod.Post))
{
    <div id="DeleteModal" class="modal fade" role="dialog" >
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Do you really want to delete @Model.Name?</h4>
                </div>

                <div class="modal-body">
                        <button type="button" class="btn btn-default" id="Close-button" data-dismiss="modal">Close</button>
                        <button  type="submit" class="btn btn-default" id="Delete-button" >Delete</button>
                </div>

            </div>

        </div>
    </div>
}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script>
                        $("#commentForm").validate();
                        
                        jQuery.validator.addMethod("specialChar", function(value, element) {
                            return this.optional(element) || /([\w åäöÅÄÖ])/.test(value);
                        }, "No special characters are allowed");

                        jQuery.validator.addMethod("onlyAlfa", function(value, element) {
                            return this.optional(element) || /([a-zA-Z\s])$/.test(value);
                        }, "No digits or special characters are allowed");

    </script>




    @if (!((Model.Latitude == "") || (Model.Longitude == "")))
    {
        <div id="map">
            <script>
                                function initMap() {
                                    var uluru = {lat: @Model.Latitude, lng: @Model.Longitude};
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 15,
                                        center: uluru
                                    });
                                    var marker = new google.maps.Marker({
                                        position: uluru,
                                        map: map
                                    });
                                }
            </script>

            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm2we0qh0j-930tJIOb_Jwjv0oZn5vU_c&callback=initMap">
            </script>
        </div>
    }
    else
    {
        <h2> Sorry couldn't found the store's address on a map.</h2>
    }

</div>


<link rel="stylesheet" type="text/css" href="~/Content/StoreStyle.css" />