<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/cover.css" />
    <link  rel="stylesheet" type="text/css" href="~/Content/LayoutStyle.css" />
    <style>
        #map {
        height: 400px;
        width: 100%;
        }
    </style>

    <title>Consid's Assignment</title>

</head>
<body>
    <div class="site-wrapper" style="background:url('../../Images/woodFern.jpg') no-repeat center center;
            background-size:cover;">

        <div class="site-wrapper-inner">
            
            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Consid's Assignment</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class = "@{if (ViewBag.Title == "Home") {<text>active</text>} }" ><a href="@Url.Action("Home","Home")">Home</a></li>
                                <li><a href="@Url.Action("ListCompanies", "Company")">Companies</a></li>
                                <li class="@{if (ViewBag.Title == "Stores") {<text>active</text>}}"><a href="@Url.Action("ListStores","Store")">Stores</a></li>
                                <li class="@{if (ViewBag.Title == "About") {<text>active</text>}}"><a href="@Url.Action("About","About")">About</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    @RenderBody()

                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <footer>

                            <p>&copy; @DateTime.Now.Year - Victoria Dahlquist</p>
                        </footer>
                    </div>
                </div>
                <a class="btn btn-primary btn-lg pull-right" title="Back to the top" role="button" data-toggle="tooltip" style="background-color:#5bc0de; color:white;" href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
            </div>

        </div>
      
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
